body {
  font-family: "Cairo", sans-serif;
  transition: background-color 0.5s ease;
  background-image: url("../images/wether/im.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

#main-weather {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #333;
}

#details-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#today-tab {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
}

#today-tab:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#next-tab {
  background-color: #f39c12;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
}

#next-tab:hover {
  background-color: #e67e22;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.day-card {
  background-color: rgba(249, 249, 209, 0.8);
}

.night-card {
  background-color: rgba(75, 107, 130, 0.8);
  color: #fff;
}

.card.active {
  background-color: rgba(255, 127, 80, 0.9) !important;
  color: #fff;
  border: 2px solid #ff5722;
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(255, 87, 34, 0.5);
}

.nav-link.active {
  background-color: #ff7f50;
  color: #fff;
  font-weight: bold;
}

.nav-link {
  color: #333;
}

#error-message {
  position: relative;
}

#error-message .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 767px) {
  #main-weather {
    width: 100%;
    padding: 15px;
  }

  #details-container {
    width: 100%;
    margin-top: 20px;
  }

  .card {
    margin: 10px 0;
  }

  .nav-tabs {
    justify-content: center;
  }

  .nav-item {
    flex: 1;
  }

  .card img {
    width: 60px;
  }
}
